@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://bs.byt3.dev" target="_blank">Documentation</a>
            <a href="https://github.com/ByteChkR/BadScript2" target="_blank">Github</a>
        </div>

        <article class="px-4">
            @Body
        </article>
    </main>
</div>