@inherits LayoutComponentBase

<div style="width: 100vw; height: 100vh; margin:0px;padding:0px;overflow:hidden" class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main style="width: 100%; height: 100%; margin:0px;padding:0px;overflow:hidden">
        <div class="top-row px-4">
            <a href="https://github.com/ByteChkR/BadScript2" target="_blank">Visit on Github</a>
        </div>

        <article style="width: 100%; height: 100%; margin:0px;padding:0px;overflow:hidden" class="content px-4">
            @Body
        </article>
    </main>
</div>