@inject IJSRuntime JS

<div style="height: 100%; width: 100%;">
    <MonacoEditor CssClass="code-input" ConstructionOptions="EditorConstructionOptions"/>
</div>

<style>
    .code-input {
        height: 100%;
        width: 100%;
    }
</style>

@code {

    [Parameter]
    public EventCallback<CodeEditor> OnEditorInitialized { get; set; } = EventCallback<CodeEditor>.Empty;

    private MonacoEditor? m_Editor;

    private string? m_Text;
    private string? m_Language;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        JS.InvokeVoidAsync("AddBadScriptLanguage");

        OnEditorInitialized.InvokeAsync(this);
    }

    public async Task<string> GetValue()
    {
        TextModel? model = await m_Editor!.GetModel();
        return await model.GetValue(EndOfLinePreference.TextDefined, null);
    }


    public async void Open(string text, string language)
    {
        if (m_Editor == null)
        {
            m_Text = text;
            m_Language = language;
            return;
        }
        TextModel? model = await m_Editor!.GetModel();
        await MonacoEditorBase.SetModelLanguage(model, language);
        await model.SetValue(text);
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        string value = "";

        if (m_Text != null)
        {
            value = m_Text;
            m_Text = null;
        }

        string language = "badscript";
        if (m_Language != null)
        {
            language = m_Language;
            m_Language = null;
        }

        m_Editor = editor;
        return new StandaloneEditorConstructionOptions
        {
            AutoIndent = true,
            AutomaticLayout = true,
            Theme = "vs-dark",
            TabSize = 4,
            WordBasedSuggestions = true,
            AcceptSuggestionOnCommitCharacter = true,
            CodeLens = true,
            CursorSmoothCaretAnimation = true,
            Folding = true,
            FoldingHighlight = true,
            FormatOnPaste = true,
            Hover = new EditorHoverOptions
            {
                Enabled = true,
            },
            InlineHints = new EditorInlineHintsOptions
            {
                Enabled = true,
            },
            Lightbulb = new EditorLightbulbOptions
            {
                Enabled = true,
            },
            Links = true,
            ScrollBeyondLastLine = false,
            SmoothScrolling = true,
            Language = language,
            Value = value,
        };
    }

}